body, #loginBackground {
  background-color: rgb(63,81,181);
}

md-toolbar{
  box-shadow: 0 0px 10px rgba(0,0,0,1), 0 0px 2px rgba(0,0,0,0.24);
  max-height:15vh;
}

.subView{
  height:85vh;
}

.shadow{
  box-shadow: 0 0px 10px rgba(0,0,0,1), 0 0px 2px rgba(0,0,0,0.24);
}

.cardContainer {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left:10%;
  margin-right: 10%; 
}

.loginBtns {
  min-width: 188px
}

.centerText {
  text-align: center
}

.thumbnail{
  height: 90px;
  width: 90px;
  padding: 5px;
}

.smallThumbnail{
  height: 60px;
  width: 60px;
  padding: 5px;
}

.sidenav {
  min-width: 300px;
  min-height: 80px;
}

.background, md-content{
  background-color: rgb(180,180,180);
}

.content{
  background-color: rgb(200,200,200);
}

.toolbar{
  max-height: 48px; 
  margin-top:-5px;
}

.friendRequest {
  min-height: 50px;
  max-height: 100px;
  background-color: rgb(240,240,240);
  transition:background-color .3s ease-in-out;
  overflow: hidden;
}

.friend {
  min-height: 50px;
  max-height: 100px;
  background-color: rgb(240,240,240);
  transition:background-color .3s ease-in-out;
  overflow: hidden;
}
.friend:hover{
  background-color: rgb(180,180,180);
}
.menuItem{
  position: fixed;
  z-index: 1
}

.searchBox{
  background-color: rgb(220,220,220);
  border: 1px solid gray;
  width:40vh;
  transition:background-color .3s ease-in-out;
}

.searchBox.selected{
  background-color: rgb(180,180,180);
}

.searchBox:hover{
  background-color: rgb(180,180,180);
}

.chatBox{
  height: 250px;
  width: 250px;
  margin-top: -250px;
  background-color: rgba(240,240,240, 0.8);
  border: 1px solid gray;
  overflow: hidden;
}

.chatBoxHeader{
  height:30px;
  background-color: rgb(63,81,181);
  color:white;
}
.chatBoxMessages{
  height:350px;
}



.searchResult{
  width: 300px;
  height: 130px;
  display:inline-block;
  background-color: rgb(240,240,240);
  transition:background-color .3s ease-in-out;
  overflow:hidden;
}
.searchResult:hover{
  background-color: rgb(180,180,180)
}

.personResult{
  background-color: rgb(240,240,240);
  width: 400px;
  height: 130px;
  transition:background-color .3s ease-in-out;
}

.button{
  transition:background-color .3s ease-in-out;
}

.button:hover{
  background-color: rgb(180,180,180);
}




