body, #loginBackground {
  background-color: rgb(63,81,181);
}

md-toolbar{
  box-shadow: 0 1px 10px rgba(0,0,0,1), 0 1px 2px rgba(0,0,0,0.24);
  max-height:100px;
}
.cardContainer {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left:10%;
  margin-right: 10%; 
}

.loginBtns {
  min-width: 188px
}

.centerText {
  text-align: center
}

.sidenav {
  min-width: 170px;
}
.background, md-content{
  background-color: rgb(180,180,180);
}

.content{
  background-color: rgb(200,200,200);
}

.toolbar{
  max-height: 48px; 
  margin-top:-5px;
}

.friend {
  min-height: 50px;
  background-color: rgb(200,200,200);
}
.friend:hover{
  background-color: rgb(180,180,180);
}
.menuItem{
  position: fixed;
  z-index: 1
}

.searchBox{
  background-color: rgb(220,220,220);
  border: 1px solid gray;
  width:40vh;
  transition:background-color .3s ease-in-out;
}

.searchBox.selected{
  background-color: rgb(180,180,180);
}
.searchBox:hover{
  background-color: rgb(180,180,180);
}