body {
  background-color: rgb(63,81,181);
}

.cardContainer {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left:10%;
  margin-right: 10%; 
}

.loginBtns {
  min-width: 188px
}

.center {
  text-align: center
}

.sidenav {
  background-color: rgb(180,180,180);
  overflow: scroll-hidden;
  min-width: 170px;
}

.friend {
  min-height: 50px;
  background-color: rgb(200,200,200);
}